<form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="center-block">Product name:
      <input class="form-control" formControlName="productName">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Product price:
      <input class="form-control" formControlName="productPrice">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Image Url:
      <input class="form-control" formControlName="imgUrl">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Product availability:
      <input class="form-control" formControlName="avail">
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Description:
      <input class="form-control" formControlName="description">
    </label>
  </div>
  <input type="hidden" [value]="currentUser._id" formControlName="user_id">
  <input type="hidden" [value]="currentUser.firstName" formControlName="user_name">
  <input type="hidden" [value]="currentUser._id + '_' +productId" formControlName="id">
  <button type="submit" [disabled]="addItemForm.pristine">Save</button>
</form>