<section id="collection-container" *ngIf="showPDP && !showProducts">
  <div class="product_article product_1" *ngFor="let cat of categories$ | async; let i=index;">
    <a [routerLink]="cat.categoryName">
      <img [src]="cat.imgUrl" alt="">
      <div class="description">
        <a [routerLink]="cat.categoryName" class="product_link" itemprop="url">
          <span itemprop="name">{{ cat.categoryName }}</span>
        </a>
      </div>
    </a>
  </div>
</section>
<router-outlet></router-outlet>
