<main>
  <section class="contact__info">
    <h2>Contact Info</h2>
    <form *ngIf="settingsForm" [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="center-block">Username:
          <input type="text" class="form-control" [value]="currentUser.username" formControlName="username" required="required">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">First Name:
          <input type="text" class="form-control" [value]="currentUser.firstName" formControlName="firstname" required="required">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Last Name:
          <input type="text" class="form-control" [value]="currentUser.lastName" formControlName="lastname" required="required">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">E-mail:
          <input type="email" class="form-control" [value]="currentUser.email" formControlName="email">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Phone:
          <input type="tel" class="form-control" [value]="currentUser.phone" formControlName="phone">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Address:
          <input type="text" class="form-control" [value]="currentUser.address" formControlName="address">
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Description:
          <input type="text" class="form-control" [value]="currentUser.description" formControlName="description">
        </label>
      </div>
      <button type="submit" [disabled]="!settingsForm.value">Save</button>
    </form>
  </section>
</main>
