footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #4a4d52;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72%;
  flex-wrap: wrap;
  height: 200px;
}

.footer__container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
