<div>
  <canvas #unsuccessfulBetsToTime width="500" height="300">{{ chartunsuccessfulBetsToTime }}</canvas>
  <canvas #lotsToTime width="500" height="300">{{ chartlotsToTime }}</canvas>
  <canvas #successfulLotsToTime width="500" height="300">{{ chartsuccessfulLotsToTime }}</canvas>
  <canvas #unsuccessfulLotsToTime width="500" height="300">{{ chartunsuccessfulLotsToTime }}</canvas>
  <canvas #betsToTime width="500" height="300">{{ chartbetsToTime }}</canvas>
  <canvas #successfulBetsToTime width="500" height="300">{{ chartsuccessfulBetsToTime }}</canvas>
  <canvas #moneyToTime width="500" height="300">{{ chartmoneyToTime }}</canvas>
</div>