<section class="profile-data">
  <div class="img">
    <img src="//miro.medium.com/max/1476/1*bGpc4O2roZz7MCLdkleoxw.png" alt="">
  </div>
  <div class="data">
    <div class="username">Username: {{profile.username}}</div>
    <div class="full-name">Full name: <span>{{profile.firstName + ' '}}</span><span>{{profile.lastName}}</span></div>
    <div class="phone">Phone: {{profile.phone}}</div>
    <div class="address">Address: {{profile.address}}</div>
    <div class="description">Description: {{profile.description}}</div>
    <div class="count-bet">Total bets: {{profile.count_bets}}</div>
    <div class="count-lot">Total lot: {{profile.count_lots}}</div>
    <a href="#">Wined lots</a>
    <button>Add lot!</button>
  </div>
</section>