<nav>
    <div class="container d-flex flex-row justify-content-between align-items-center h-100">
        <div class="logo">
            <a href="">Site Logo</a>
        </div>
        <ul class="d-flex flex-row list-unstyled m-0">
            <li (click)="activeTab(1)" [ngClass]="{'active': activeIndex == 1}" class="pl-4 pr-4"><a routerLink="">Profile</a></li>
            <li (click)="activeTab(2)" [ngClass]="{'active': activeIndex == 2}" class="pl-4 pr-4"><a routerLink="/customers">Customers</a></li>
            <li (click)="activeTab(3)" [ngClass]="{'active': activeIndex == 3}" class="pl-4 pr-4"><a routerLink="/orders">Orders</a></li>
        </ul>
        <app-search></app-search>
    </div>
</nav>