<nav>
    <div class="container d-flex flex-row justify-content-between align-items-center h-100">
        <div class="logo">
            <a href="">Site Logo</a>
        </div>
        <ul class="d-flex flex-row list-unstyled m-0">
            <li class="pl-4 pr-4"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
            <li class="pl-4 pr-4"><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
            <li class="pl-4 pr-4"><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
        </ul>
        <app-search></app-search>
    </div>
</nav>