<section id="pdp-container">
  <div class="product_article product_1" *ngFor="let item of products">
    <a [routerLink]="['/customers', currentCategory.categoryName, item.id]">
      <img [src]="item.imgUrl" alt="">
      <div class="description">
        <a [routerLink]="['/customers', currentCategory.categoryName, item.id]" class="product_link" itemprop="url">
          <span itemprop="name">{{ item.productName }}</span>
        </a>
      </div>
    </a>
  </div>
</section>
<router-outlet></router-outlet>

